<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Soldering Iron.SLDPRT">
  <link
    name="Soldering Iron_urdf">
    <inertial>
      <origin
        xyz="-6.1823E-19 -0.082875 5.42049257865148E-18"
        rpy="0 0 0" />
      <mass
        value="0.040713" />
      <inertia
        ixx="6.5597E-05"
        ixy="1.2319E-21"
        ixz="-2.28199999999999E-23"
        iyy="2.2054E-06"
        iyz="2.46698780694833E-21"
        izz="6.5597E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Soldering Iron_urdf/meshes/Soldering Iron_urdf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://Soldering Iron_urdf/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Soldering Iron_urdf/meshes/Soldering Iron_urdf.STL" />
      </geometry>
    </collision>
  </link>
</robot>