<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="NEWtable.SLDPRT">
  <link
    name="NEWtable.SLDPRT">
    <inertial>
      <origin
        xyz="0.4 0.75 0.032293"
        rpy="0 0 0" />
      <mass
        value="38.513" />
      <inertia
        ixx="8.1324"
        ixy="4.4832E-15"
        ixz="1.74210000000003E-17"
        iyy="2.5032"
        iyz="5.27105587934239E-16"
        izz="10.196" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://NEWtable.SLDPRT/meshes/NEWtable.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.74902 0.74902 0.74902 1" />
        <texture
          filename="package://NEWtable.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://NEWtable.SLDPRT/meshes/NEWtable.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>