<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Magnifier.SLDPRT">
  <link
    name="Magnifier_urdf">
    <inertial>
      <origin
        xyz="-8.9277E-19 -0.12432 7.7429830953599E-18"
        rpy="0 0 0" />
      <mass
        value="0.077828" />
      <inertia
        ixx="0.00025446"
        ixy="4.7706E-22"
        ixz="-2.2168E-23"
        iyy="4.8788E-05"
        iyz="1.45857536582906E-20"
        izz="0.00029997" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Magnifier_urdf/meshes/Magnifier_urdf.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
        <texture
          filename="package://Magnifier_urdf/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://Magnifier_urdf/meshes/Magnifier_urdf.STL" />
      </geometry>
    </collision>
  </link>
</robot>