<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="0.65diam roundhole">
  <link
    concave="yes" name="0.65diam roundhole">
    <inertial>
      <origin
        xyz="0.0508 0.0508 0.01905"
        rpy="0 0 0" />
      <mass
        value="0.38513" />
      <inertia
        ixx="0.00038476"
        ixy="4.2078E-20"
        ixz="8.4478E-21"
        iyy="0.00038476"
        iyz="1.48351483355533E-20"
        izz="0.00067635" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://0.65diam roundhole/meshes/0.65diam roundhole.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 0.74902 0.74902 1" />
        <texture
          filename="package://0.65diam roundhole/textures/" />
      </material>
    </visual>
     <collision concave="yes">
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://0.65diam roundhole/meshes/0.65diam roundhole.STL" />
      </geometry>
    </collision>
  </link>
</robot>
