<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="1.15in squarehole_C.SLDPRT">
  <link
    name="1.15in squarehole_C.SLDPRT">
    <inertial>
      <origin
        xyz="1.6201E-18 1.49711755201581E-18 0.01905"
        rpy="0 0 0" />
      <mass
        value="0.36078" />
      <inertia
        ixx="0.00037964"
        ixy="3.7531E-20"
        ixz="-6.0201E-21"
        iyy="0.00037964"
        iyz="1.79013735251755E-20"
        izz="0.000672" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://1.15in squarehole_C.SLDPRT/meshes/1.15in squarehole_C.SLDPRT.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 1 1" />
        <texture
          filename="package://1.15in squarehole_C.SLDPRT/textures/" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="1.5707963267949 0 0" />
      <geometry>
        <mesh
          filename="package://1.15in squarehole_C.SLDPRT/meshes/1.15in squarehole_C.SLDPRT.STL" />
      </geometry>
    </collision>
  </link>
</robot>